<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.example.demo.mapper.DetailedMapper">
    <resultMap type="com.example.demo.bean.Detailed" id="detailedResultMap">
        <!-- 用id属性来映射主键字段 -->
        <id property="id" column="dl_id"/>
        <!-- 用result属性来映射非主键字段 -->
        <result property="langid" column="dl_lang_id"/>
        <result property="catid" column="dl_cat_id"/>
        <result property="title" column="dl_title"/>
    </resultMap>
    <select id="getByDetaileds" parameterType="Long" resultMap="detailedResultMap">
        select dl_id,dl_lang_id,dl_cat_id,dl_title
        from faqs_detailed,faqs_category
        where dl_cat_id = cat_id
        and dl_lang_id = #{lang_id}
        and cat_id = #{cat_id}
    </select>

</mapper>