<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.example.demo.mapper.UserMapper">
    <select id="login" parameterType="String" resultType="com.example.demo.bean.User">
      select
        usr_id as id,
        usr_login_id as loginId,
        usr_password as password,
        usr_role as role
        from faqs_user
        where usr_login_id = #{loginId} and usr_password = #{password}
    </select>

</mapper>