body{
    /* background: url(/img/22.jpg) no-repeat;*/
    background-size: 100%;
}
.content{
    width: 960px;
    margin: 0 auto;
}
.header{
    margin-top: 10px;
    height: 55px;
}
.header-loagin{
    float: left;
}
.header-lan{
    float: right;
    line-height: 50px;
    color: #501275;
}
#SnapABug_bImg{
    width:100%;
}
.scrollToTop > img {
    position: fixed;
    z-index: 10;
    bottom: 20px;
    left: 30px;
    cursor: pointer;
}
@media (min-width: 992px){
    .eForm-div1 {
        width: 85%;
        margin: auto;
    }
    .eForm-div1 .confirmation-test{
        margin: auto;
        text-align: center;
    }
    .eForm-div1 .file4-text{
        width: 60%;
    }
    #jmeter .form-group{
        float: left;
    }
    #jmeter .jmeterDiv1,.jmeterDiv2,.jmeterDiv3,.jmeterDiv4,.jmeterDiv5,.jmeterDiv6{
        width: 30%;
    }
    #jmeter .jmeterDiv2,.jmeterDiv5{
        margin: 0px 30px;
    }

}
@media (max-width: 768px) {
    .eForm-div1 {
        width: 95%;
        margin: auto;
    }
    .eForm-div1 .confirmation-test{
        width: 85%;
        margin: auto;
        text-align: center;
    }
    .eForm-div1 .file4-text{
        width: 60%;
    }
    #jmeter .form-group{
        float: left;
    }
    #jmeter .jmeterDiv1,.jmeterDiv2,.jmeterDiv3,.jmeterDiv4,.jmeterDiv5,.jmeterDiv6{
        width: 48%;
    }
    #jmeter .jmeterDiv2,.jmeterDiv5{
        margin-left: 10px;
    }
    #jmeter .jmeterDiv5-div{
        clear: both;
    }

    .eForm-div1 .success-div-test{
        margin: 0 !important;
        margin-top: 50px !important;
    }

}


/*progressbar*/
#progressbar{
    padding: 0 0 0 10px;
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset:step;
}
#progressbar li{
    font-weight: bold;
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    list-style-type: none;
    color: #a639a5;
    /*text-transform: uppercase;*/
    font-size: 12px;
    /*width: 33.33%;*/
    /*width: 25%;*/
    /*width: 16.66%;*/
    width: 50%;
    float: left;
    position: relative;
}
/*numbers on top*/
#progressbar li:before{
    content: counter(step);
    counter-increment: step;
    width: 30px;
    line-height: 30px;
    display: block;
    font-size: 10px;
    color: white;
    background: #4f0b7b;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
#progressbar .progressbarLi:before{
    border: 1px solid #4f0b7b;
    color: #4f0b7b;
    background: white;
}

/*connectors*/
#progressbar li:after{
    content: '';
    width:100%;
    height: 5px;
    background: #4f0b7b;
    position: absolute;
    left: -50%;
    top: 12px;
    z-index: -1;/* put it behind the numbers*/
}
#progressbar li:first-child:after{
    /*connector not needed before the first step*/
    content:none;
}
/*marking active/completed steps green*/
/*the number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #623a96;
    color: #fff;
}


.eForm-div1{
    border: 1px solid;
}
.eForm-div1 input[type = "text"],.eForm-div1 select{
    height: 50px;
}
.eForm-div1 ul{
    border-bottom: 3px solid #71288E;
}
.eForm-div1 ul li a{
    text-align: center;
    background-color: #999;
    color: white !important;
    padding: 15px 10px;
    width: 100px;
}
.eForm-div1 ul li a:hover{
    background-color: #71288E !important;
}
.eForm-div1 ul li.active a{
    background-color: #71288E !important;
}

.has-feedback label~.form-control-feedback{
    top: 32px !important;
    right: 12px !important;
}
.GuestName-firstname .form-control-feedback{
    top: 32px !important;
    right: 10px !important;
}


/** tu biao**/
@media (min-width: 768px){
    .booking-steps {
        margin-top: 1.875rem;
        margin-bottom: 3.125rem;
    }
    .booking-steps li {
        flex-direction: column;
    }
    .booking-steps li .label1 {
        display: flex !important;
        margin-top: 5px;
        white-space: nowrap;
    }

}
@media (min-width: 992px){
    .booking-steps li {
        flex-direction: row;
    }
    .booking-steps li .label1 {
        margin-top: 0;
    }
}

.booking-steps{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: .875rem;
    margin-bottom: 1.875rem;
    counter-reset: booking_steps_counter;
}
.booking-steps li.active, .booking-steps li.done {
    color: #6e2d91;
}
.booking-steps li {
    display: flex;
    flex-shrink: 1;
    flex-wrap: nowrap;
    align-items: center;
    flex-basis: auto;
    margin: 0 5%;
    color: #cbcedc;
    text-align: center;
}
.booking-steps li.active .number, .booking-steps li.done .number {
    border-color: #6e2d91;
}
.booking-steps li .number {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    box-sizing: border-box;
    border: 2px solid #cbcedc;
    line-height: 1.84;
}
.hide-visually {
    border: 0;
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    height: 1px;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.collapsing, .hide-visually, .overlay-in {
    overflow: hidden;
}
.booking-steps li .label1 {
    display: none;
    font-weight: 700;
    line-height: 1.4;
}
.booking-steps li .number::before {
    font-size: 16px;
    content: counter(booking_steps_counter);
    counter-increment: booking_steps_counter;
    font-weight: 600;
}
.booking-steps .label1 {
    display: inline;
    padding: .2em .6em .3em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}



.eFormSuccess-p{
    background-color: #71288E !important;
    border-color: #71288E;
    font-size: 24px;
    width: 250px;
    margin: auto;
    font-weight: bold;
    border-radius: 30px !important;
}
.eFormSuccess-submit{
    float: right;
    background-color: #0073be;
    color: white;
    padding: 10px 50px;
    margin-top: 80px;
    border-radius: 30px;
}
.eFormError-submit{
    float: right;
    background-color: #0073be;
    color: white;
    padding: 10px 50px;
    margin-top: 80px;
    border-radius: 30px;
}
.eFormContent-submit{
    float: right;
    background-color: #0073be;
    color: white;
    padding: 10px 40px;
    border-radius: 30px;
}
.eFormSuccess-submit:hover,.eFormError-submit:hover,.eFormContent-submit:hover{
    color: white;
    background-color: #0073be;
    border-color: white;
}


