<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
        <meta name="description" content="">
        <meta name="author" content="">
        <title>FAQS | HK Express</title>
        <link rel="icon" type="image/x-icon" th:href="@{/img/favicon-32x32.png}"/>
        <link th:href="@{/css/assets/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/css/assets/ie10-viewport-bug-workaround.css}" rel="stylesheet">
        <link th:href="@{/css/assets/dashboard.css}" rel="stylesheet">
        <script th:src="@{/js/assets/jquery.js}"></script>
        <script th:src="@{/js/assets/jqPaginator.min.js}"></script>
        <link th:href="@{/css/assets/myPage.css}" rel="stylesheet">
        <script th:src="@{/js/layer/layer.js}"></script>
        <script th:src="@{/js/laydate/laydate.js}"></script>
        <script th:src="@{/js/assets/angular.js}"></script>
        <script th:src="@{/js/admin/directive.js}"></script>
        <script th:src="@{/js/admin/notags.js}"></script>
        <script th:src="@{/js/common.js}"></script>
        <script th:src="@{/js/assets/myPage.js}"></script>
        <script th:inline="javascript">
            var ctx = [[@{/}]];
        </script>

        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script th:src="@{/js/assets/ie8-responsive-file-warning.js}"></script><![endif]-->
        <script th:src="@{/js/assets/ie-emulation-modes-warning.js}"></script>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
      </head>
<body cz-shortcut-listen="true" ng-app="myapp" ng-controller="notagsController">
    <top-Directive></top-Directive>

    <div class="container-fluid">
      <div class="row">
        <left-Directive></left-Directive>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="row" style="padding-bottom: 9px;margin-bottom: 20px;border-bottom: 1px solid #eee;">
              <div class="col-lg-5">
                  <span style="font-size: 36px;">No Result Key Words</span>
              </div>
          </div>
          <div class="row">
            <!-- Status select -->
            <label style="margin-top: 5px;margin-left:50px;float: left;">Language: </label>
              <div class="col-md-2">
                  <select ng-model="langId" class="form-control" ng-change="clickLanguage()"
                          ng-options="language.id  as language.title for language in languages">
                  </select>
              </div>
            <!-- start time -->
            <label style="margin-top: 5px;margin-left:50px;float: left;">start time: </label>
            <div class="col-md-2">
                <input type="text" class="form-control layui-input" id="ladate1" placeholder="yyyy-MM-dd">
            </div>
            <!-- end time -->
            <label style="margin-top: 5px;margin-left:50px;float: left;">end time: </label>
            <div class="col-md-2">
                  <input type="text" class="form-control layui-input" id="ladate2" placeholder="yyyy-MM-dd">
            </div>
            <!-- Search -->
            <div class="col-md-2">
                <button class="btn btn-default" type="button" ng-click="getLayDate()">Search</button>
            </div>

            <div style="clear: both"></div>
            <div class="row" style="margin: 2% 2%;">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th><!--<input type="checkbox" name="checkboxAll" ng-click="updateSelectionAll($event)">--></th>
                            <th>IP</th>
                            <th>Serach Date</th>
                            <th>Language</th>
                            <th>Key words</th>
                            <th>searching times</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="f in notags">
                          <!--  <td>{{$index+1}}</td>-->
                            <td>{{f[0]}}</td>
                            <td>{{f[1]}}</td>
                            <td>{{f[2]}}</td>
                            <td>{{f[3]}}</td>
                            <td>{{f[4]}}</td>
                            <td>{{f[5]}}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>

                <!-- 分页-->
                <div style="text-align: right;">
                    <ul class="pagination" id="pagination"></ul>
                </div>


            </div>


          </div><!-- /.row -->



        </div>
      </div>
    </div>

    <script th:src="@{/js/assets/bootstrap.min.js}"></script>
    <script th:src="@{/js/assets/holder.min.js}"></script>
    <script th:src="@{/js/assets/ie10-viewport-bug-workaround.js}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script th:src="@{/js/dist/metisMenu/metisMenu.min.js}"></script>
    <!-- Custom Theme JavaScript -->
    <script th:src="@{/js/dist/sb-admin-2.js}"></script>

</body>
</html>