<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
        <meta name="description" content="">
        <meta name="author" content="">
        <title>FAQS | HK Express</title>
        <link rel="icon" type="image/x-icon" th:href="@{/img/favicon-32x32.png}"/>
        <script th:inline="javascript">
            var ctx = [[@{/}]];
        </script>
        <link th:href="@{/css/assets/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/css/assets/ie10-viewport-bug-workaround.css}" rel="stylesheet">
        <link th:href="@{/css/assets/dashboard.css}" rel="stylesheet">
        <script th:src="@{/js/assets/jquery.js}"></script>
        <script th:src="@{/js/assets/jqPaginator.min.js}"></script>
        <link th:href="@{/css/assets/myPage.css}" rel="stylesheet">
        <script th:src="@{/js/layer/layer.js}"></script>
        <script th:src="@{/js/laydate/laydate.js}"></script>
        <script th:src="@{/js/assets/angular.js}"></script>
        <script th:src="@{/js/admin/directive.js}"></script>
        <script th:src="@{/js/admin/report.js}"></script>
        <script th:src="@{/js/common.js}"></script>

        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script th:src="@{/js/assets/ie8-responsive-file-warning.js}"></script><![endif]-->
        <script th:src="@{/js/assets/ie-emulation-modes-warning.js}"></script>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
      </head>
<body cz-shortcut-listen="true" ng-app="myapp" ng-controller="reportController">
    <top-Directive></top-Directive>

    <div class="container-fluid">
      <div class="row">
        <left-Directive></left-Directive>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="row" style="padding-bottom: 9px;margin-bottom: 20px;border-bottom: 1px solid #eee;">
              <span style="font-size: 36px;">Report</span>
          </div>

        <!-- 数据显示 tab-->
        <div class="tab-content">
            <ul class="nav nav-tabs" style="margin-bottom: 10px;">
                <li class="active"><a href="#all" data-toggle="tab">All Click Rate</a></li>
                <li><a href="#question" data-toggle="tab">Click Question Rate Report</a></li>
                <li><a href="#efrom" data-toggle="tab">Click E-from Rate Report</a></li>
                <li><a href="#detailed" data-toggle="tab">Faq Detailed All</a></li>
            </ul>
            <!-- tab0-->
            <div class="tab-pane fade  in active" id="all">
                <div class="row" style="margin-top: 20px">
                    <div class="row" style="margin: 2% 5%;">
                        <div class="table-responsive">
                            <span style="color: red">*All</span>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th ng-repeat="e in allPage">{{e[0]}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td ng-repeat="e in allPage">{{e[1]}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <span style="color: red">*All Question</span>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th ng-repeat="e in allPage1">{{e[0]}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td ng-repeat="e in allPage1">{{e[1]}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <span style="color: red">*All E-from</span>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th ng-repeat="e in allPage2">{{e[0]}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td ng-repeat="e in allPage2">{{e[1]}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <!-- tab1-->
            <div class="tab-pane fade" id="question">
                <div class="row" style="margin-top: 20px">
                    <!-- language select -->
                    <label style="margin-top: 5px;margin-left: 50px;float: left;">Language: </label>
                    <div class="col-md-2">
                        <select ng-model="langId_Question" class="form-control" ng-change="clickLanguage_Question()"
                                ng-options="language.id  as language.title for language in languages_Question">
                        </select>
                    </div>
                    <!-- start time -->
                    <label style="margin-top: 5px;margin-left:50px;float: left;">start time: </label>
                    <div class="col-md-2">
                        <input type="text" autocomplete="off" class="form-control layui-input" id="ladate1" placeholder="yyyy-MM-dd">
                    </div>
                    <!-- end time -->
                    <label style="margin-top: 5px;margin-left:50px;float: left;">end time: </label>
                    <div class="col-md-2">
                        <input type="text" autocomplete="off" class="form-control layui-input" id="ladate2" placeholder="yyyy-MM-dd">
                    </div>
                    <!-- Search -->
                    <div class="col-md-1">
                        <button class="btn btn-default" type="button" ng-click="search_Question()">Search</button>
                    </div>
                    <!-- download -->
                    <div class="col-md-1">
                        <form id="question_from" action="#" method="post" enctype="multipart/form-data">
                            <button class="btn btn-default" type="button" ng-click="submitDownload_Question()">download</button>
                        </form>
                    </div>
                    <div style="clear:both;"></div>
                    <div class="row" style="margin: 2% 5%;">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Series</th>
                                    <th>Question</th>
                                    <th>Show Status</th>
                                    <th>Click Rate</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="e in eforms_Question">
                                    <td>{{e[0]}}</td>
                                    <td>{{e[1]}}</td>
                                    <td>{{e[2]}}</td>
                                    <td>{{e[3]}}</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>

                        <!-- 分页-->
                        <div style="text-align: right;">
                            <ul class="pagination" id="pagination_Question"></ul>
                        </div>
                    </div>

                </div>


            </div>

            <!-- tab2-->
            <div class="tab-pane fade" id="efrom">
                <div class="row" style="margin-top: 20px">
                    <!-- language select -->
                    <label style="margin-top: 5px;margin-left: 50px;float: left;">Language: </label>
                    <div class="col-md-2">
                        <select ng-model="langId_Eform" class="form-control" ng-change="clickLanguage_Eform()"
                                ng-options="language.id  as language.title for language in languages_Eform">
                        </select>
                    </div>
                    <!-- start time -->
                    <label style="margin-top: 5px;margin-left:50px;float: left;">start time: </label>
                    <div class="col-md-2">
                        <input type="text" autocomplete="off" class="form-control layui-input" id="ladate3" placeholder="yyyy-MM-dd">
                    </div>
                    <!-- end time -->
                    <label style="margin-top: 5px;margin-left:50px;float: left;">end time: </label>
                    <div class="col-md-2">
                        <input type="text" autocomplete="off" class="form-control layui-input" id="ladate4" placeholder="yyyy-MM-dd">
                    </div>
                    <!-- Search -->
                    <div class="col-md-1">
                        <button class="btn btn-default" type="button" ng-click="search_Eform()">Search</button>
                    </div>
                    <!-- download -->
                    <div class="col-md-1">
                        <form id="efrom_form" action="#" method="post" enctype="multipart/form-data">
                            <button class="btn btn-default" type="button" ng-click="submitDownload_Eform()">download</button>
                        </form>
                    </div>
                    <div style="clear:both;"></div>
                    <div class="row" style="margin: 2% 5%;">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>eForm Nature</th>
                                    <th>Click Rate</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="e in eforms_Eform">
                                    <td>{{e[0]}}</td>
                                    <td>{{e[1]}}</td>
                                    <td>{{e[2]}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <!-- tab3-->
            <div class="tab-pane fade" id="detailed">
                <div class="row" style="padding-left: 18px;color: red;padding-bottom: 20px;">
                    <!-- download -->
                    <div class="col-md-1">
                        <form id="detailed_form" action="#" method="post" enctype="multipart/form-data">
                            <button class="btn btn-default" type="button" ng-click="submitDownload_Detailed()">download</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>



        </div>
      </div>
    </div>


    <script th:src="@{/js/assets/bootstrap.min.js}"></script>
    <script th:src="@{/js/assets/holder.min.js}"></script>
    <script th:src="@{/js/assets/ie10-viewport-bug-workaround.js}"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script th:src="@{/js/dist/metisMenu/metisMenu.min.js}"></script>
    <!-- Custom Theme JavaScript -->
    <script th:src="@{/js/dist/sb-admin-2.js}"></script>
</body>
</html>